---
import { literal } from "astro/zod"
import BaseLayout from "../../layouts/BaseLayout.astro"
import BlogPost from "../../components/BlogPost.astro"

export async function getStaticPaths() {
  const allPost = await Astro.glob("../posts/*.md")
  const uniqueTags = [
    ...new Set(allPost.map((post) => post.frontmatter.tags).flat()),
  ]
  return uniqueTags.map((tag) => {
    const filteredPost = allPost.filter((post) =>
      post.frontmatter.tags?.includes(tag)
    )
    return {
      params: { tag },
      props: { posts: filteredPost },
    }
  })
}

const { tag } = Astro.params
const { posts } = Astro.props
---

<BaseLayout pageTitle={tag}>
  <p>Entradas etiquetadas con {tag}</p>
  {
    posts.map((post) => (
      <BlogPost url={post.url} title={post.frontmatter.title} />
    ))
  }
</BaseLayout>